.box {
  width: 85vw;
  height: 85vw;
  @include set-flex-column(center, center);
  margin: 10px;

  @include cw(768) {
    width: 25vw;
    height: 25vw;
  }

  @include lg {
    margin: 20px;
  }

  @include xxxl {
    width: 500px;
    height: 500px;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  }

  &_image {
    object-fit: contain;
    max-width: 75vw;
    max-height: 75vw;

    @include cw(768) {
      max-width: 22vw;
      max-height: 22vw;
    }

    @include xxxl {
      width: 480px;
      height: 480px;
    }

    &:hover {
      animation: pulse 1s 1 ease-in-out;
    }
  }
}

.box_clicked {
  border: 1px solid rgba(40, 40, 40, .1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px;
}

.expandedBox {
  $w: 100vw;
  $p: 80px;

  width: calc(#{$w} - #{$p});
  height: auto;
  padding: 20px;
  border-bottom: 3px solid;
  border-top: 3px solid;
  animation: slideIn 1s ease-in-out;
  animation: opacity 1s ease-in-out;
  @include set-flex-column(flex-start, center);

  @include lg {
    @include set-flex-row(flex-start, flex-start);
    width: auto;
  }

  .info {
    padding-top: 20px;

    @include lg {
     padding: 0 50px;
    }

    h3 {
      margin: 20px 0;
    }

    p {
      color: $dark-text;
    }

    a {
      @include set-flex-row(flex-end, flex-start);

      img {
        width: 25px;
        height: auto;
        margin: 10px;
      }
    }

    .info_details {
      margin: 20px 0 10px 0;
    }

    .info_detail {
      @include set-flex-row(flex-start, flex-start);
      margin: 5px 0;

      &_head {
        flex: 1;
        font-family: 'gotham_semi_bold';
      }

      &_body {
        flex: 3;
      }
    }
  }
}