@font-face {
  font-family: 'gotham_black';
  src: url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138991/Fonts/metropolis-black-webfont_wmrupi.woff2') format('woff2'),
    url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138991/Fonts/metropolis-black-webfont_dwmz2n.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'gotham_black_italic';
  src: url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138991/Fonts/metropolis-blackitalic-webfont_hngxf2.woff2') format('woff2'),
    url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138991/Fonts/metropolis-blackitalic-webfont_n0exky.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gotham_extra_light';
  src: url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138991/Fonts/metropolis-extralight-webfont_cwjdhg.woff2') format('woff2'),
    url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138991/Fonts/metropolis-extralight-webfont_k7qg3i.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gotham_extra_light_italic';
  src: url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138992/Fonts/metropolis-extralightitalic-webfont_uom25d.woff2') format('woff2'),
    url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138992/Fonts/metropolis-lightitalic-webfont_votsi4.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gotham_light';
  src: url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138992/Fonts/metropolis-light-webfont_yzkbzc.woff2') format('woff2'),
    url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138992/Fonts/metropolis-light-webfont_zmbk4r.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gotham_light_italic';
  src: url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138992/Fonts/metropolis-lightitalic-webfont_rkvzpq.woff2') format('woff2'),
    url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138992/Fonts/metropolis-lightitalic-webfont_votsi4.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gotham_medium';
  src: url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138993/Fonts/metropolis-medium-webfont_q1cvfi.woff2') format('woff2'),
    url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138993/Fonts/metropolis-medium-webfont_bm9raq.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gotham_regular';
  src: url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138993/Fonts/metropolis-regular-webfont_ev90td.woff2') format('woff2'),
    url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138993/Fonts/metropolis-regular-webfont_t6ee7u.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gotham_regular_italic';
  src: url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138994/Fonts/metropolis-regularitalic-webfont_bp11q0.woff2') format('woff2'),
    url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138993/Fonts/metropolis-regularitalic-webfont_kuyfq2.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gotham_semi_bold';
  src: url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138994/Fonts/metropolis-semibold-webfont_yl2pac.woff2') format('woff2'),
    url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138994/Fonts/metropolis-semibold-webfont_r5eqec.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gotham_thin';
  src: url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138994/Fonts/metropolis-thin-webfont_ku3nlo.woff2') format('woff2'),
    url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138994/Fonts/metropolis-thin-webfont_dplwk3.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gotham_thin_italic';
  src: url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138994/Fonts/metropolis-thinitalic-webfont_ycf7su.woff2') format('woff2'),
    url('https://res.cloudinary.com/seabysaltdesign/raw/upload/q_auto/v1589138994/Fonts/metropolis-thinitalic-webfont_u5kdud.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}