h1 {
  font-family: "gotham_light";
  text-transform: uppercase;
  font-size: 30px;

  @include sm {
    font-size: 35px;
  }

  @include md {
    font-size: 45px;
  }

  @include lg {
    font-size: 55px;
  }

  @include xl {
    font-size: 55px;
  }

  @include xxl {
    font-size: 70px;
  }

  @include xxxl {
    font-size: 110px;
  }
}

h2 {
  font-family: "gotham_extra_light";
  text-transform: uppercase;
  font-size: 28px;

  @include sm {
    font-size: 30px;
  }

  @include md {
    font-size: 40px;
  }

  @include lg {
    font-size: 45px;
  }

  @include xl {
    font-size: 45px;
  }

  @include xxl {
    font-size: 60px;
  }

  @include xxxl {
    font-size: 80px;
  }
}

h3 {
  font-family: "gotham_extra_light";
  text-transform: uppercase;
  font-size: 16px;

  @include sm {
    font-size: 20px;
  }

  @include md {
    font-size: 25px;
  }

  @include lg {
    font-size: 30px;
  }

  @include xl {
    font-size: 30px;
  }

  @include xxl {
    font-size: 45px;
  }

  @include xxxl {
    font-size: 55px;
  }
}

h4 {
  font-family: "gotham_medium";
  font-size: 25px;

  @include xxl {
    font-size: 35px;
  }
}

h5 {
  font-family: "gotham_light";
  font-size: 20px;
  text-transform: uppercase;
  font-size: 14px;

  @include sm {
    font-size: 16px;
  }

  @include md {
    font-size: 20px;
  }

  @include lg {
    font-size: 20px;
  }

  @include xl {
    font-size: 20px;
  }


  @include xxl {
    font-size: 30px;
  }

  @include xxxl {
    font-size: 40px;
  }
}

h6 {
  font-family: "gotham_light";
  font-size: 18px;
  text-transform: uppercase;
}

p, span, input, textarea, label, button {
  font-size: 12px;

  @include sm {
    font-size: 12px;
  }

  @include md {
    font-size: 14px;
  }

  @include lg {
    font-size: 16px;
  }

  @include xl {
    font-size: 16px;
  }

  @include xxl {
    font-size: 20px;
  }

  @include xxxl {
    font-size: 28px;
  }
}