h1 {
  font-family: "gotham_light";
  text-transform: uppercase;
  font-size: 55px;
}

h2 {
  font-family: "gotham_extra_light";
  text-transform: uppercase;
  font-size: 45px;
}

h3 {
  font-family: "gotham_extra_light";
  text-transform: uppercase;
  font-size: 30px;
}

h4 {
  font-family: "gotham_medium";
  font-size: 25px;
}

h5 {
  font-family: "gotham_light";
  font-size: 20px;
  text-transform: uppercase;
}

h6 {
  font-family: "gotham_light";
  font-size: 18px;
  text-transform: uppercase;
}