@import 'introSlides';

$height: 100vh;
$navHeight: 94px;

#cover {
  /* height: calc(#{$height} - #{$navHeight}); */
  height: 100vh;
  width: 100vw;
  background-color: $light-color;
  position:  static;
  margin-bottom: 94px;

  .scroll {
    position: absolute;
    top: 65vh;
    height: 200px;
    width: 100vw;
    @include set-flex-column(center, center);

    @include cwh(375, 812) {
      top: 70vh;
    }

    @include sm {
      top: 70vh;
    }

    @include lg {
      top: 75vh;
    }

    @include xl {
      top: 70vh;
    }

    @include xxl {
      top: 75vh;
    }

    p {
      font-size: 10px;
      color: $light-color;
      margin-left: 12px;
      font-family: "gotham_medium";

      @include lg {
        font-size: 12px;
      }

      @include xl {
        font-size: 12px;
      }
      @include xxl {
        font-size: 14px;
      }

      @include xxxl {
        font-size: 18px;
      }
    }
  }
}