#introSlides {
  height: 93vh;
  width: 100%;
  margin-bottom: 7vh;

  .background {
    height: 100%;
    width: 66%;

    &_color {
      position: absolute;
      top: 0;
      left: -100%;
      height: 93vh;
      width: 66%;
    }

    &_fade-in {
      animation: 1.3s fade-in ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      height: 93vh;
      width: 66%;
    }
  }

  .text, .text2 {
    position: absolute;
    top: 25vh;
    color: $light-color;
    z-index: 3;
    max-width: 130px;
    left: 30px;

    @include sm {
      max-width: 150px;
      left: 50px;
    }
  
    @include md {
      max-width: 200px;
      left: 100px;
    }
  
    @include lg {
      max-width: 400px;
      left: 80px;
    }
  
    @include xl {
      max-width: 420px;
      left: 100px;
    }
  
    @include xxl {
      max-width: 500px;
      left: 150px;
    }
  
    @include xxxl {
      max-width: 600px;
      left: 200px;
    }

    h5 {
      margin-bottom: 40px;
    }

  }

  .text2 {
    max-width: 550px;

    @include sm {
      max-width: 150px;
    }
  
    @include md {
      max-width: 200px;

    }
  
    @include lg {
      max-width: 550px;

    }
  
    @include xl {
      max-width: 600px;

    }
  
    @include xxl {
      max-width: 800px;

    }
  
    @include xxxl {
      max-width: 900px;

    }
  }

  $size: 40vw;

  .image {
    position: absolute;
    left: 50%;
    top: 20vh;
    height: 50vh;
    width: 40vw;

    .images {
      width: 100%;
      position: relative;
      height: 100%;
      transform-style: preserve-3d;
      transition-timing-function: cubic-bezier(.23,.11,.37,1);
      transition-duration: 1200ms;
      z-index: 2;
    }

    .images2 {
      transform: rotateY(90deg);
      
    }

    .images3 {
      transform: rotateY(180deg);
    }

    &_sliding {
      object-fit: cover;
      width: inherit;
      height: inherit;
      position: absolute;
    }

    &_fade-in {
      transform: translate3d(0, 0, $size/2);
      z-index: 2;
    }

    &_fade-in-2{
      transform: rotateY(-90deg) translate3d(0, 0, $size/2);
    }

    &_fade-in-3 {
      transform: rotateY(180deg) translate3d(0, 0, $size/2);
    }

    &_control {
      position: absolute;
      right: 15px;
      bottom: 15px;
      height: 100px;
      width: 30px;
      color: $light-color;
      font-family: "gotham_semi_bold";
      z-index: 3;
      @include set-flex-column(space-between, center);

      &_text {
        transform: rotate(90deg);
        @include set-flex-row(space-between, center);
        width: 60px;
      }

      p {
       /*  font-size: 13px; */
      }
    }
  }

}