.contact {
  @include set-flex-row(space-between, center);
  height: auto;
/*   margin-bottom: 58vh;

  @include cwh(321, 569) {
    margin-bottom: 38vh;
  }

  @include lg {
    margin-bottom: 62vh;
  } */

  $background: #9BA59C;

  &_background {
    position: absolute;
    left: 0;
    top: 15vh;
    width: 80vw;
    height: 60vh;
    background-color: $background;
    animation: 1.3s fade-in ease-in-out;
    z-index: 3;

    @include md {
      top: 25vh;
    }

    @include lg {
      width: 66vw;
    }
  }

  h2 {
    margin: 40px;
    color: $light-color;
  }

  .postMessage {
    @include set-flex-column(center, center);

    h2 {
      margin: 20px;
      animation: 1.3s fade-in ease-in-out;
    }
  }

  img {
    object-fit: cover;
    height: 100vh;
    width: 40vw;
    z-index: 2;
  }

  &_form {
    position: relative;
    width: 300px;
    left: 10vw;
    background-color: $light-color;
    padding: 20px;
    @include set-flex-column(center, center);
    border: 3px solid $background;

    @include md {
      left: 30vw;
      width: 500px;
    }

    @include lg {
      width: 600px;
    }

    @include xl {
      width: 50vw;
    }


    form {
      width: 100%;
      height: 300px;
      @include set-flex-column(space-evenly, flex-start);
      z-index: 4;
      padding: 10px 10px;

      @include md {
        padding: 10px 30px;
      }

      @include xxl {
        height: auto;
        margin: 10px 80px;
      }

      label {
        font-family: "gotham_medium";
        color: $taupe;
      }

      input,
      textarea {
        border: none;
        padding: 10px;
        margin: 10px 20px;
        background-color: lighten($background, 20);
        color: $taupe;
        width: 85%;
        font-family: "gotham_light";

        @include md {
          width: 300px;
        }

        @include xl {
          width: 30vw;
        }
      }

      .message {
        height: 80px;
        resize: none;

        @include xl {
          height: 200px;
        }
      }
    }

    button {
      background-color: $background;
      width: 200px;
      height: 50px;
      padding: 10px;
      color: $light-color;
      position: absolute;
      right: -20px;
      bottom: -20px;
      font-family: 'gotham_medium';
      text-transform: uppercase;
      font-size: 14px;
      border: 1px solid $light-color;
      cursor: pointer;

      @include sm {
        font-size: 14px;
      }
    
      @include md {
        font-size: 16px;
      }
    
      @include lg {
        font-size: 18px;
      }
    
      @include xl {
        font-size: 18px;
        width: 200px;
        height: 50px;
      }
    
      @include xxl {
        font-size: 24px;
        width: 280px;
        height: 70px;
      }
    
      @include xxxl {
        font-size: 32px;
        width: 400px;
        height: 80px;
      }
    }

    .alert {
      font-family: "gotham_medium";
      position: absolute;
      right: 30px;
      top: 100px;
      width: 120px;
      height: 100px;
      line-height: 30px;
    }

  }
}