#experiences {
  height: auto;
  width: 100vw;
  padding: 20px 40px 40px 40px;

  @include set-flex-column(center, center);

  @include xl {
    @include set-flex-row(center, center);
    height: 100vh;
    margin-top: 94px;
  }

  .map {

    @include xl {
      flex: 1.5;
    }

    &_countries {
      @include set-flex-row(space-evenly, center);
      flex-flow: wrap;
      padding: 20px 0px;
      align-content: center;

      p {
        color: lighten($dark-text, 35%);
        line-height: 20px;
        margin: 5px;
      }

      .active {
        color: $secondary-color;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;

        @include sm {
          font-size: 14px;
        }
      
        @include md {
          font-size: 16px;
        }
      
        @include lg {
          font-size: 18px;
        }
      
        @include xl {
          font-size: 18px;
        }
      
        @include xxl {
          font-size: 24px;
        }
      
        @include xxxl {
          font-size: 32px;
        }
      }

      .inactive:hover {
        border-bottom: 2px solid $secondary-color;
      }
    }

    &_detail {
      padding: 0 10px;
      width: 90vw;

      @include sm {
        width: 65vw;
        padding: 0 20px;
      }

      @include xl {
        width: auto;
        padding: 0 50px;
      }

      .rsm-marker {
        cursor: pointer;
      }
    }
  }

  .text {
    flex: 1;
  }

  h2 {
    color: $secondary-color;
    text-align: center;
  }
}

.experience {

  h2 {
    margin: 0 0 30px 0;
  }

  &_details {
    @include set-flex-row(space-between, flex-start);
    color: $dark-text;
    margin: 10px 0;


    &_year {
      color: $secondary-color;
      font-family: 'gotham_medium';
      width: 50px;
      @include lg {
        width: 80px;
      }
    }

    &_institution {
      padding-left: 10px;
      width: 35%;
      @include lg {
        padding-left: 30px;
        width: 35%;
      }
    }

    &_title {
      padding-left: 30px;
      width: 50%;
    }
  }
}
