@import 'cover/_cover';
@import 'experiences';
@import 'navbar';
@import 'projects';
@import 'contact';


.home_content {
  background-color: $light-color;
  height: 100%;
  position: relative;

/*   margin-bottom: 59vh;

  @include cwh(321, 569) {
    margin-bottom: 44vh;
  } */

  @include md {
    margin-bottom: 59vh;
  }

  @include lg {
    margin-bottom: 50vh;
  }
}