#projects {
  width: 100vw;
  height: auto;
  padding: 40px;
  @include set-flex-row(center, center);
  margin-bottom: 285px;
}

.projects_overview {
  @include set-flex-row(space-between, center);
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  @include xxl {
    @include set-flex-row(center, center);
  }

  &_title {
    @include set-flex-row(center, center);
    margin: 20px;
    width: 85vw;
    height: 20vh;

    @include cw(768) {
      width: 25vw;
      height: 25vw;
    }
  }

  h2 {
    color: $secondary-color;
    border-bottom: 2px solid $secondary-color;
  }
}